tr(data-email=c.email, class=c.cls)
  td(style='width: 15px;')
    i.icon-user
  td= c.email
  td
    .dropdown
      a.dropdown-toggle.edit-permissions-dd(role='button', data-toggle='dropdown', href='#')
        | #{c.type} 
      ul.dropdown-menu(role='menu', aria-labelledby='drop4')
        li
          a.can-view-option(tabindex='-1', href='#') can view
        li
          a.can-edit-option(tabindex='-1', href='#') can edit

  td
    a.btn-mini.remove-collab.btn.btn-danger(href='#')
      i.icon-remove
