#comments
  a.btn.btn-primary.comments-button(href='#') comments
  #comments-container
    button(type="button", data-dismiss="modal", aria-hidden="true", class="close") ×
    ul
      li
        img(src='/users/photo?l=https%3A%2F%2Fwww.google.com%2Fm8%2Ffeeds%2Fphotos%2Fmedia%2Fjfromaniello%2540gmail.com%2F0', title='matias')
        .comment-block
          .comment-author Esteban Yofre
          .comment-text-content si horrible
   
    #new-comment
      input(type='text', placeholder='Send a comment here') submit