li
  img(src='/users/photo?l=https%3A%2F%2Fwww.google.com%2Fm8%2Ffeeds%2Fphotos%2Fmedia%2Fjfromaniello%2540gmail.com%2F0', title='matias')
  .comment-block
    .comment-author Esteban Yofre
    .comment-text-content estaba pensando que no esta bueno que sancor sea tan así por que nuestro sistema es diferente y va a tener un lorem isun asedion sulitoiasid kdmasmd jjdjdjdjd iuuudududud
  