.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3 Document deleted
  .modal-body
    p This document has been deleted by the owner.
    p You are going to be redirected home.
  .modal-footer
    a.btn(href='#', data-dismiss="modal", aria-hidden="true") Close