#key-shortcuts-help.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3 shortcuts
  .modal-body
    ul.shortcut-list
      li
        .key-shortcut alt-s
        .key-shortcut-desc settings
      li
        .key-shortcut alt-w
        .key-shortcut-desc open preview
      li
        .key-shortcut alt-v
        .key-shortcut-desc hide/show preview pane
      li
        .key-shortcut alt-m
        .key-shortcut-desc open markdown syntax help
      li
        .key-shortcut alt-/
        .key-shortcut-desc show this help 
  .modal-footer
    a.btn(href="#", data-dismiss="modal", id="close-helper", tabindex=0) Close