#key-shortcuts-help.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3 shortcuts
  .modal-body
    ul.shortcut-list
      li
        .key-shortcut alt-s
        .key-shortcut-desc settings
      li
        .key-shortcut alt-e
        .key-shortcut-desc switch between edition and preview mode
      li
        .key-shortcut alt-h
        .key-shortcut-desc show shortcuts
  .modal-footer
    a.btn(href="#", data-dismiss="modal", id="close-helper", tabindex=0) Close