#settings-popup.form-horizontal.modal.hide.fade
  .modal-header
    h3 share
  .modal-body(style='max-height: 480px; overflow: hidden;')
    form.form-horizontal
      .control-group
        label.control-label(for='doc-url') URL
        .controls
          .input-append
            input.input-xxlarge#doc-url(type='text', 
                                      value=baseUrl + 'doc/' + doc._id.toString(),
                                      readonly)
            button#copy-url.btn(type='button', 
                                data-clipboard-target='doc-url')
              i.icon-copy

    table#visibility-table.table.permissions-table
      - var d = {level: 'public', type: (doc.visibility && doc.visibility.public ? doc.visibility.public : 'none')}
      include visibility-row

      if !user.identities[0].isSocial
        - var companyVisibilty = doc.visibility && doc.visibility.companies[user.identities[0].connection];
        - var d = { level:  'company', company:  user.identities[0].connection, type:   companyVisibilty || 'none'};
        include visibility-row

    h4 Collaborators
    .collabs-table-wrapper
      table#collabs-table.table.permissions-table
        for c in (doc.collaborators || [])
          include collaborator-row
      
    h4 New collaborator
    form#add-collab.form-inline
      input.input#new-collab(type='text', placeholder='bob@mail.com', name='email')
      select.input-small#new-collab-type(name='type')
        option can edit
        option can view
      button.btn(type='submit') Add
    

  .modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Close