extends layout

block content
 .page-header
    h1
      #name mdocs
    
    p Your company 
      strong #{domain} 
      |  has been setup. Please 
      a.sign-in(href='/login') login
      |  now.
