extends layout

block content
  .row-fluid
    .span12(style="font-size: 20px; line-height: 39px; padding-top: 20px;")
      p Your company 
        strong #{domain} 
        |  has been setup. 

      p Use this url to login from now on:
      a(href='/e/qraftlabs.com', style="font-size: 30px") #{baseUrl}e/qraftlabs.com
