extends layout

block content
 .page-header
    h1
      #name mdocs
    
    p Your company 
      strong #{domain} 
      |  has been setup. Please 
      a.sign-in(href='/e/qraftlabs.com') login
      |  now.

    p You can access from now on with this url:
    a(href='/e/qraftlabs.com') #{baseUrl}e/qraftlabs.com
