extends layout

block menu-extras
  li#preview-menu
    a(href="#")
      i.icon-eye-close
      | Preview
  li
    a(href='#settings-popup', data-toggle="modal")
      i.icon-share 
      | Share
  li
    a(href='#key-shortcuts-help', data-toggle="modal", title='keyboard shortcuts')
      i.icon-question-sign

block container
  
  .container-fluid.desktop
    .page-header
        h1
          #name= doc.name || 'untitled'

    .row-fluid(style="height: 85%;")
      #editor.span6
      #preview.span6
    
    if user
      include includes/settings
    
    include includes/key-shortcuts-help
    include includes/syntax-help

  

block scripts
  script
    window.docId = "#{doc._id.toString()}";
    window.docTitle = "#{doc.title || ''}";

  if env != "production"
    script(src="/components/require/require.js")
    script(src="/js/require.config.js")
  else
    script(src="/js/edit-bundle.js")

  script(type="text/javascript")
    require(["js/edit"], function(index){});