extends layout

block menu-extras
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown') Document 
      b.caret
    ul.dropdown-menu
      li
        a(href='#settings-popup', data-toggle="modal") share
      li
        a(href='/view/' + doc._id.toString(), target='_blank') preview
  li
    a(href='#key-shortcuts-help', data-toggle="modal", title='keyboard shortcuts')
      i.icon-question-sign

block content
  .page-header
      h1
        #name= doc.name || 'untitled'
  #editor
  #preview
  input#initial(type='hidden', value=snapshot)

  include includes/settings
  include includes/key-shortcuts-help

  

block scripts
  script
    window.docId = "#{doc._id.toString()}";
    window.docTitle = "#{doc.title || ''}";

  if env != "production"
    script(src="/components/require/require.js")
    script(src="/js/require.config.js")
  else
    script(src="/js/edit-bundle.js")

  script(type="text/javascript")
    require(["js/edit"], function(index){});