extends layout

block content
  if error && error == 'domain-mismatch'
    .alert.alert-error
      button.close(type='button', data-dismiss='alert') ×
      strong Error! 
      | You are trying to login with some email but you are already logged with another one.

  else

    .hero-unit
      h1 mdocs
      p the best way to collaborate with 
        a(href="http://daringfireball.net/projects/markdown/syntax") markdown
        | .
      
      p mdocs can be used by individuals or companies to share documents.
      a#create-company.btn.btn-large.btn-success(href="#") register your company



block scripts
  script(src="components/require/require.js")
  script(src="js/require.config.js")

  script(type="text/javascript")
    require(["js/index.js"], function(index){
    });