extends layout

block content
  .row-fluid
    .span12(style="font-size: 16px; line-height: 39px; padding-top: 20px;")
      p(style="color: red;") You don't have access to this document. 

      p Ask the owner permissions or try login in with a different account.