!!! 5
html
  head
    title mdocs
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src="//sdk.auth0.com/auth0.js#client=" + AUTH0_CLIENT_ID + "&redirect_uri=" + BASE_URL + 'callback')

    link(type='text/css', rel='stylesheet', href='/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(type='text/css', rel='stylesheet', href='/css/strip-responsive.css')
    link(type='text/css', rel='stylesheet', href='/css/strip.css')
    link(type='text/css', rel='stylesheet', href='/components/Font-Awesome/css/font-awesome.min.css')

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Merriweather:400,700', rel='stylesheet', type='text/css')

    //if IE 7
      link(type='text/css', rel='stylesheet', href='/components/Font-Awesome/css/font-awesome-ie7.min.css')
  body

    section.container
      nav.navbar
        .navbar-inner
          .container
            a.brand(href='/') mdocs.io
            ul.nav
              li.active
                a(href='/') Home 
              li
                a(href='/enterprise') Enterprise
              li
                a.sign-in(href='#') Login

    section.container
      .row
        header.highlight.span12
          h2
            | like google docs for
            strong  markdown
          img#feature-screenshot(src='/img/screen1.png', alt='screenshot')
          p
            a.sign-in.big-btn(href='#') Sign Up
      //- .row
      //-   .offset3.span6
      //-     hr.shadow-line

    if env != "production"
      script(src="/components/require/require.js")
      script(src="/js/require.config.js")
    else
      script(src="/js/index-bundle.js")

    script(type="text/javascript")
      require(["js/index"], function(index){
      });