extends layout

block head
    link(type='text/css', rel='stylesheet', href='/css/strip-responsive.css')
    link(type='text/css', rel='stylesheet', href='/css/strip.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Merriweather:400,700', rel='stylesheet', type='text/css')

block navbar
  section.container
    nav.navbar
      .navbar-inner
        .container
          a.brand(href='/') mdocs.io
          ul.nav
            li.active
              a(href='/') Home 
            li
              a(href='/enterprise') Enterprise
            li
              a.sign-in(href='#') Login

block container
  section.container
    .row
      header.highlight.span12
        h2
          | like google docs for
          strong  markdown
        img#feature-screenshot(src='/img/screen1.png', alt='screenshot')
        p
          a.sign-in.big-btn(href='#') Sign Up