extends layout

block content
  table.table.mydocs-table
    thead
      tr
        th Name
        th Last access
    tbody
      each doc in docs
        tr
          th
            a(href=(doc.canEdit ? '/edit/' : '/view/') + doc._id.toString())= doc.name || 'untitled'
          th= moment(doc.lastAccess).fromNow()


block scripts
  script(src="components/require/require.js")
  script(src="js/require.config.js")

  script(type="text/javascript")
    require(["js/index.js"], function(index){});