extends layout

//- block menu-extras
//-   li.dropdown
//-     a.dropdown-toggle(href='#', data-toggle='dropdown') Document 
//-       b.caret
//-     ul.dropdown-menu
//-       li
//-         a(href='#settings-popup', data-toggle="modal") settings
//-       li
//-         a(href='/view/' + doc._id.toString(), target='_blank') preview
//-       li
//-         a(href='#') share

block content
  | !{html}